<article class="post">
    <div class="full-post">
        <div class="content">
        <div class="title">
            <a href="/post/{{id}}" class="ref"><h2>{{title}}</h2></a>
        </div>
        <div class="creator">
            <p id="creator">Created by: {{creator}}</p>
        </div>
    </div>>
    <div class="meta">
        <p>{{content}}</p>
    </div>
    </div>
    </article>