<section class="new-post">
    <button type="submit" class="btn" id="create-post">+Create Post</button>
</section>

{{#if posts.length }}
<section>
    <ul class="posts">
        {{#each posts as |post|}}
        <li class="single-post">
            {{> post-info post }}
            <a href="/dashboard/edit/{{post.id}}" class="edit-post-form">Edit</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/create-post.js"></script>