<section class="login-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <div class="form-section">
        <form class="signup-form">
            <div>
                <label for="username-signup">Pick a Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Pick a Password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Sign up!</button>
            </div>
        </form>
    </div>

    <a href="/login" class="sign-in-link">log in instead</a>
</section>

<script src="/javascript/signup.js"></script>